{
	"FIREBASE_API_KEY": "***************xxxx",
	"FIREBASE_AUTH_DOMAIN": "xxxxxx-xxxx.firebaseapp.com",
	"FIREBASE_DB_URL": "https://xxxxxx-xxxx.firebaseio.com",
	"FIREBASE_PRJ_ID": "xxxxxx-xxxx",
	"FIREBASE_STORAGE": "xxxxxxx-xxxx.appspot.com",
	"FIREBASE_SENDER_ID": "xxxxxxxxxxx",
	"FIREBASE_APP_ID": "X:xxxxxxxxx:web:xxxxxxxxxxxxxxxxxx",
	"FIREBASE_MEASUREMENT_ID": "X-XXXXXX"
}